.body {
    width: 265px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.link {
    color: #8585AD;
    text-decoration: none;
    transition: 0.3s;
    padding: 14px 0;
}

.btn {
    padding: 14px 0;
    color: #8585AD;
    text-align: left;
    cursor: pointer;
    background: none;
    border: none;
    transition: 0.3s;
}

.btn:hover {
    color: #fff;
}

/*.link:not(:last-child) {
    margin: 0 0 40px 0;
}*/

.link:hover {
    color: #fff;
}

.active {
    color: #fff;
}

.note {
    margin: 80px 0 0 0;
    max-width: 320px;
}